.title {
  text-align: center;
}

.timeline {
  position: absolute;
  border-left: thick dotted #000000;
  height: 500%;
  left: 50%;
}

.date {
  font-weight: bold;
}

.item-left {
  text-align: left;
  margin-left: 20px;
}

.item-right {
  position: relative;
  text-align:right;
  left: -275px;
  width: 200px;
}

.img-size {
  height:200px;
  width:150px;
}

.fat-img-size {
  height:200px;
  width:250px;
}

