<div class="container">
  <nav class="navbar navbar-default">
    <h1 class="title"><a href="#/">Timeline of Dad's life</a></h1>
  </nav>
</div>

<div class="container">
  <div class="timeline">
    <div class="item-left">
      <img src="http://i.imgur.com/GjFxxsK.jpg" class="img-size" title="source: imgur.com" />
      <p class="date">June 1961</p>
      <p>Dad was born</p>
    </div>
    <div class="item-right">
      <p class="date">April 1975</p>
      <p>Khmer rouge took over Cambodia</p>
    </div>
    <div class="item-left">
      <p class="date">January 1979</p>
      <p>Khmer rouge was ousted from Cambodia</p>
    </div>
    <div class="item-right">
      <p class="date">September 1980</p>
      <p>Dad moved to the states with sponsor family</p>
    </div>
    <div class="item-left">
      <p class="date">September 1985</p>
      <p>Dad met mom</p>
    </div>
    <div class="item-right">
      <img src="http://i.imgur.com/q0g2hDF.jpg" class="img-size" title="source: imgur.com" />
      <p class="date">September 1990</p>
      <p>Dad got married to mom</p>
    </div>
    <div class="item-left">
      <img src="http://i.imgur.com/mkjhSp2.jpg" title="source: imgur.com" class="img-size" />
      <p class="date">November 1972</p>
      <p>Jackie Chan chameos in Fist of Fury with Bruce Lee</p>
    </div>
    <div class="item-right">
      <img src="http://i.imgur.com/kdv4sqA.jpg" class="img-size" title="source: imgur.com" />
      <p class="date">April 1992</p>
      <p>Alex was born</p>
    </div>
    <div class="item-left">
      <img src="http://i.imgur.com/JXVOXeH.jpg" class="fat-img-size" title="source: imgur.com" />
      <p class="date">January 1995</p>
      <p>Derrick was born</p>
    </div>
    <div class="item-right">
      <img src="http://i.imgur.com/mqmAZBN.jpg" title="source: imgur.com" />
      <p class="date">June 1998</p>
      <p>Dad taught Alex to ride a bike</p>
    </div>
    <div class="item-left">
      <p class="date">January 2000</p>
      <p>Dad finished patio in backyard</p>
    </div>
    <div class="item-right">
      <p class="date">2000-2005</p>
      <p>Dad would play basketball with Alex & Derrick at the park</p>
    </div>
    <div class="item-left">
      <img src="http://i.imgur.com/OdVdPNg.jpg" class="fat-img-size" title="source: imgur.com" />
      <p class="date">June 2004</p>
      <p>Dad & Mom let Alex & Derrick have their first sleepover</p>
    </div>
    <div class="item-right">
      <img src="http://i.imgur.com/1cnhxZY.jpg" class="img-size" title="source: imgur.com" />
      <p class="date">December 2013</p>
      <p>Water heater exploded and dad fixed it (with Alex and Derrick attempting to help)</p>
    </div>
    <div class="item-left">
      <p class="date">June 2015</p>
      <p>Dad is 54 years old</p>
    </div>
    <div class="item-right">
      <img src="http://i.imgur.com/ddIiGdf.png" class="fat-img-size img-margin" title="source: imgur.com" />
      <p class="date">From the beginning of time, onward:</p>
      <p>Dad is superman!</p>
    </div>
    <div class="item">
      <h3>To be continued...</h3>
    </div>
  </div>
</div>
